body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameZone {
width: 700px;
height: 700px;
background: yellow;
display: grid;
grid-template-rows: repeat(3, 1fr);
box-sizing: border-box;

}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* .row:not(last-child) {

} */

.row1,.row2 {
    border-bottom: 5px solid black;
} 
.row2, .row3 {
    border-top: 5px solid black;
    
}
.cell {
font-size: 180px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: red;
display: flex;
align-items: center;
justify-content: center;
}

.cell1, .cell4, .cell7, .cell2, .cell5, .cell8 {
    border-right: 5px solid black;
}
.cell2, .cell5, .cell8, .cell3, .cell6, .cell9 {
    border-left: 5px solid black;
}

.buttonPlay{
    margin-top: 50px;
}

.hide {
        display: none;
      }
